<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand" href="">
                <span class="glyphicon glyphicon-leaf"></span>
            </a>
        </div>
        <div class="col-md-6">
            <h1 class="productivity-title">Productivity</h1>
        </div>
        <div class="col-md-3" ng-show="isUser">
            <nav class="nav navbar-nav navbar-right">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <span class="glyphicon glyphicon-menu-hamburger" uib-dropdown-toggle ng-disabled="disabled"></span>
                    <ul class="list-group dropdown-menu" uib-dropdown-menu role="menu">
                        <li class="list-group-item" role="menuitem">Welcome  {{user.name}}</li>
                        <li ui-sref="profile" class="list-group-item" role="menuitem">Settings</li>
                        <li class="list-group-item" role="menuitem">About us</li>
                        <li class="list-group-item" role="menuitem" ng-click="signOut()">Sign out</li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</nav>