my-header{
  .navbar-brand{
    span{
      color: #6AD403;
      font-size: 26px;
    }
  }
  .productivity-title{
    text-align: center;
    color: #6AD403;
    margin: 0;
    line-height: 50px;
  }
  .navbar-nav{
    .glyphicon{
      transform: rotate(0deg);
      transition: all .5s;
      font-size: 30px;
      color: #6AD403;
      line-height: 50px;
      cursor: pointer;
    }
    .btn-group.open .dropdown-toggle{
      box-shadow: none;
    }
    ul.dropdown-menu{
      padding: 0;
      .list-group-item{
        background-color: #6AD403;
        color: #ffffff;
        &:hover{
          background-color: #ffffff;
          color: #6AD403;
          cursor: pointer;
        }
      }
    }
    div.dropdown{
      &.open{
        span.glyphicon{
          transform: rotate(-90deg);
          transition: all .5s;
        }
        ul.dropdown-menu{
          animation: dropDownAnimate .7s;
        }
      }
    }
  }
}
@keyframes dropDownAnimate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}