<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <form name="task.addTask" ng-submit="task.formSubmit()" novalidate>
        <div class="form-group col-md-8" ng-class="{ 'has-error': task.addTask.taskName.$error.required && task.addTask.taskName.$touched }">
            <input type="text" name="taskName" id="taskName" class="form-control" placeholder="task" ng-model="task.taskName" required />
            <span ng-show="task.addTask.taskName.$error.required && task.addTask.taskName.$touched" class="help-block">Task value is required</span>
        </div>
        <div class="form-actions col-md-4">
            <button type="submit" class="btn btn-primary">+</button>
        </div>
    </form>
  </div>
	<div class="drag-wrapper col-md-12">
   <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{listName}} tasks</h3>
            </div>
            <div class="panel-body">
              <ul dnd-list="list"
                  dnd-inserted="task.insertItemCallback(item, listName)"
                  >
                <li ng-repeat="item in list"
                    dnd-draggable="item"
                    dnd-moved="list.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}"
                    >
                    {{item.title}}
                </li>
            </ul>
          </div>
        </div>
    </div> 
  </div>
</div>