<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h1>Login Form</h1>
        <form name="login.formLogin" ng-submit="login.formSubmit()" novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error': login.formLogin.email.$error.required && login.formLogin.email.$touched ||
                                          login.formLogin.$error.email && login.formLogin.email.$touched}">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                       ng-focus="login.formLogin.email.$touched = false"
                       ng-model="login.user.email" required />
                <span ng-show="login.formLogin.email.$error.required && login.formLogin.email.$touched" class="help-block">Email is required</span>
                <span ng-show="login.formLogin.$error.email && login.formLogin.email.$touched" class="help-block">Not valid email</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': login.formLogin.password.$touched && login.formLogin.password.$error.required }">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="login.user.password" required />
                <span ng-show="login.formLogin.password.$touched && login.formLogin.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-link" ui-sref="registration">Sign In</a>
            </div>
        </form>
    </div>
</div>
