<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form name="task.addTask" ng-submit="task.formSubmit()" novalidate>
            <div class="form-group col-md-8" ng-class="{ 'has-error': task.addTask.taskName.$error.required && task.addTask.taskName.$touched }">
                <input type="text" name="taskName" id="taskName" class="form-control" placeholder="task" ng-model="task.taskName" required />
                <span ng-show="task.addTask.taskName.$error.required && task.addTask.taskName.$touched" class="help-block">Task value is required</span>
            </div>
            <div class="form-actions col-md-4">
                <button type="submit" class="btn btn-primary">+</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <ul class="list-group checked-list-box">
            <li class="list-group-item" ng-repeat="item in task.taskList">
                <span ng-class="{taskDone: item.status == 'done'}">{{item.title}}</span>
                <input ng-model="item.status" class="pull-right" type="checkbox"
                       ng-change="task.changeStatus(item)"
                       ng-checked="item.status == 'done'"
                       ng-false-value="'pending'"
                       ng-true-value="'done'">
            </li>
        </ul>
    </div>
</div>
