<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h1>Registration Form</h1>
        <form name="reg.formRegistration" ng-submit="reg.formSubmit()" novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error': reg.formRegistration.email.$error.required && reg.formRegistration.email.$touched ||
                                          reg.formRegistration.$error.email && reg.formRegistration.email.$touched}">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                       ng-model="reg.newUser.email"
                       ng-focus="reg.formRegistration.email.$touched = false"
                       required />
                <span ng-show="reg.formRegistration.email.$error.required && reg.formRegistration.email.$touched" class="help-block">Email is required</span>
                <span ng-show="reg.formRegistration.$error.email && reg.formRegistration.email.$touched" class="help-block">Not valid email</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': reg.formRegistration.username.$error.required && reg.formRegistration.username.$touched }">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="reg.newUser.name" required />
                <span ng-show="reg.formRegistration.username.$error.required && reg.formRegistration.username.$touched" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': reg.formRegistration.password.$touched && reg.formRegistration.password.$error.required || reg.isPasswordsNotIdentity }">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="reg.newUser.password" ng-change="reg.setFalseIdentity()" required />
                <span ng-show="reg.formRegistration.password.$touched && reg.formRegistration.password.$error.required" class="help-block">Password is required</span>
                <span ng-show="reg.isPasswordsNotIdentity && reg.newUser.passwordConfirm.length > 0 && reg.newUser.password.length > 0" class="help-block">Passwords doesn't match</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': reg.formRegistration.passwordConfirm.$touched && reg.formRegistration.passwordConfirm.$error.required || reg.isPasswordsNotIdentity}">
                <input type="password" name="passwordConfirm" id="password-confirm" class="form-control" placeholder="Confirm Password" ng-model="reg.newUser.passwordConfirm" ng-change="reg.setFalseIdentity()" ng-blur="reg.checkPasswordsIdentity()" required />
                <span ng-show="reg.formRegistration.passwordConfirm.$touched && reg.formRegistration.passwordConfirm.$error.required" class="help-block">Confirm Password is required</span>
                <span ng-show="reg.isPasswordsNotIdentity && reg.newUser.passwordConfirm.length > 0" class="help-block">Passwords doesn't match</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Sign up</button>
                <a ui-sref="login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>