<div class="container">
    <div class="col-md-11 col-md-offset-1">
        <h1>Hello {{dashboard.user.name}}</h1>
        <h3>You have {{dashboard.user.tasksAmount}} tasks</h3>
        <a ui-sref="{{dashboard.user.viewTasks}}" class="btn btn-link">Get to work!</a>
    </div>
</div>

