<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>User Profile Settings</h1>
        <form class="form-horizontal" name="profile.formProfile" ng-submit="profile.formSubmit()" novalidate>
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">Email:</label>
                <div class="col-md-9">
                    <input type="email" name="email" id="email" class="form-control"
                           ng-model="profile.user.email"
                           ng-readonly="true"
                           required />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': profile.formProfile.username.$error.required && profile.formProfile.username.$touched }">
                <label class="col-md-3 control-label" for="username">Name:</label>
                <div class="col-md-9">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="profile.user.name" required />
                    <span ng-show="profile.formProfile.username.$error.required && profile.formProfile.username.$touched" class="help-block">Name is required</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">View tasks:</label>
                <div class="col-md-9">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="taskViewOptions" id="list" value="list"
                               ng-model="profile.user.viewTasks"
                               ng-checked="profile.user.viewTasks == 'list'"
                               > List
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="taskViewOptions" id="drag" value="drag"
                               ng-model="profile.user.viewTasks"
                               ng-checked="profile.user.viewTasks == 'drag'"
                               > Drag
                    </label>
                </div>
            </div>
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-primary">Update profile</button>
            </div>
        </form>
    </div>
</div>